$fonts-path: '../fonts/';

@font-face {
  font-family:'Montserrat';
  src: url('#{$fonts-path}Montserrat Medium.eot');
  src: url('#{$fonts-path}Montserrat Medium.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Montserrat Medium.woff2') format('woff2'),
  url('#{$fonts-path}Montserrat Medium.woff') format('woff'),
  url('#{$fonts-path}Montserrat Medium.ttf') format('truetype'),
  url('#{$fonts-path}Montserrat Medium.svg#Montserrat Medium') format('svg');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'Barlow Condensed';
  src: url('#{$fonts-path}Barlow Condensed Black.eot');
  src: url('#{$fonts-path}Barlow Condensed Black.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Barlow Condensed Black.woff2') format('woff2'),
  url('#{$fonts-path}Barlow Condensed Black.woff') format('woff'),
  url('#{$fonts-path}Barlow Condensed Black.ttf') format('truetype'),
  url('#{$fonts-path}Barlow Condensed Black.svg#Barlow Condensed Black') format('svg');
  font-display: swap;
  font-weight: 900;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+000D-FB02;
}

@font-face {
  font-family:'Barlow Condensed';
  src: url('#{$fonts-path}Barlow Condensed Bold.eot');
  src: url('#{$fonts-path}Barlow Condensed Bold.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}Barlow Condensed Bold.woff2') format('woff2'),
  url('#{$fonts-path}Barlow Condensed Bold.woff') format('woff'),
  url('#{$fonts-path}Barlow Condensed Bold.ttf') format('truetype'),
  url('#{$fonts-path}Barlow Condensed Bold.svg#Barlow Condensed Bold') format('svg');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+000D-FB02;
}