:root {
  --white: #ffffff;
  --black: #000000;
  --first-color: #070234;
  --second-color: #007d00;
  --third-color: #000082;
  --link-color: #FFC700;
}

// main colors
$main-first-color: var(--first-color);
$main-second-color: var(--second-color);
$main-third-color: var(--third-color);

// colors
$title-color: var(--first-color);
$text-color: var(--white);
$link-color: var(--link-color);
$link-hover-color: var(--white);
$input-placeholder-color: #aaa;

//selection colors
$selection-text-color: var(--white);
$selection-bg-color: var(--black);

// fonts
$font-family-base: 'Barlow Condensed', sans-serif;
$font-family-custom: 'Montserrat', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1;

// behavior
$transition-base: all .35s ease-in-out 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: $text-color;
$grid-gutter-width: 40px;

$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1025px,
        xl: 1540px,
);

$container-max-widths: ();

$firstIteration: true;
@each $breakpoint, $value in $grid-breakpoints {
  @if not $firstIteration {
    $container-max-widths: map-merge($container-max-widths, ($breakpoint: $value - $grid-gutter-width));
  }
  $firstIteration: false;
}