:root {
  --white: #ffffff;
  --black: #000000;
  --first-color: #7a0000;
  --second-color: #007d00;
  --third-color: #000082;
}

// main colors
$main-first-color: var(--first-color);
$main-second-color: var(--second-color);
$main-third-color: var(--third-color);

// colors
$title-color: var(--black);
$text-color: var(--black);
$link-color: var(--black);
$link-hover-color: var(--third-color);
$input-placeholder-color: #aaa;

//selection colors
$selection-text-color: var(--white);
$selection-bg-color: var(--black);

// fonts
$font-family-base: 'Arial', sans-serif;
$font-family-custom: 'Verdana', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1;

// behavior
$transition-base: all .35s ease-in-out 0s;

//Bootstrap var
$enable-shadows: true;
$body-color: var(--black);